/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}
.hebergements-and-populaires {
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.hebergements-Marseille {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
}

.cards-directionrow {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.card {
    width: 250px;
    height: 192px;
}
.card img {
    height: 124px;
    width: 250px;
    border-radius: 20px 20px 0 0;

}
    

/*Activité à Marseille*/
.Activités-a-marseille {
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    align-items: flex-start;
    width: 1340px;
    height: 559px;
}
.directionrow {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 1280px;
    height: 439px;
}
.photo {
    height: 439px;
    width: 297px;
}
.photo img {
    height: 380px;
    width: 298px;
   border-radius: 20px 20px 0 0; 
}
.card-photo{
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
    border-radius: 20px 20px 20px 20px;
    
}
/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}
/* entete et nav*/

.logo-header img {
    width: 61px;
    height: 19px;
    padding: 30px 50px 30px 50px;
}
.entete {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
    
}
.lien-nav {
   display: flex;
   flex-direction: row;
   padding: 0 50px 0 50px;
   gap: 68px;
} 
 


nav a:hover{
    color: #0065FC;
    text-decoration: overline;
    
}

/*section recherce*/
#loupe-recherche{
    visibility: hidden;
}
input.button{
    color: white;
    background-color: #0065FC;
    border-radius: 0 20px 20px 0;
    border: none;
}


#icone-localisation{
    box-sizing: border-box;
    background-color: #0065FC;
    border: none;
    border-radius:  20px 0 0 20px ;
}   
.bar-de-recherche{
    border: none;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
}

.button {
   box-sizing: border-box;
   border-style: solid;
   border-width: 2px;
   border-radius: 25px;
   border-color: #d9d9d9;
   padding: 4px 19px 4px 19px;
   text-align: center;
}
form{
    display: flex;
    flex-direction: row;
    
}



/*section filtres*/

.section-filtres .button:hover {
    background-color: #DEEBFF;
}
.section-filtres {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.filtre-directionrow {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    
    
}


/* footer*/
.footer-directionrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;


}
.footer-directioncollumn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.section-footer {
    background-color: var(--main-bg-color)
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .logo-header img{
        padding: 30px;
    }
    
    
    .entete{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    nav a:hover{
        text-decoration: underline;
    }  
    .filtre-directionrow{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .section-filtres {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .directionrow {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items:flex-start ;
    }
    .cards-directionrow{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items:flex-start ;
    }
    .populaires-cards{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items:flex-start ;
    }
    #recherche{
        display: none;
    }
    #loupe-recherche{
        visibility: visible;
        background-color: #0065FC;
        border: none;
        border-radius: 0 20px 20px 0;
    }
    .populaires{
        order: -1;
    }
    
    
    /* ... */
