/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    
}
.hebergements-and-populaires {
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.hebergements {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
}

.cards-directionrow {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.cards-directionrow.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    width: 20%;
    
}
.cards-directionrow img {
        width: 14rem;
        height: 7.75rem;
        border-radius: 20px 20px 0 0;
    
}
    

/*Activité à Marseille*/

.activites-a-marseille h2{
    margin-left: 30px;
}
.activites-a-marseille{
    display: flex;
    flex-direction: column;

}
.activite-directionrow {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    
   
}
.cardPhoto{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}
.activites-a-marseille img {
    width: 100%;
    height: 90%;
   border-radius: 20px 20px 0 0; 
   
}
.activites-a-marseille .cardPhoto{
    width: 18rem;
    height: 27rem;
}
.activites-a-marseille p{
    font-size: 0.8rem;
    font-weight: bold;
    padding-left: 10px;
}
/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}
/* header*/

.logo-header img {
    width: 61px;
    height: 19px;
    padding: 30px 50px 30px 50px;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10px;
    
    
}
.lien-nav {
   display: flex;
   flex-direction: row;
   gap: 68px;
} 
 
nav a:hover{
    color: #0065FC;
    text-decoration: overline;
    
}

/*section formulaire*/

form{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    WIDTH: 27%;
    HEIGHT: 30px;
    
}
.formulaire-de-recherche{
    WIDTH: 100%;
    HEIGHT: 30px;
}
.loupe-recherche{
    visibility: hidden;
    
}
input.button{
    color: white;
    background-color: #0065FC;
    border-radius: 0 20px 20px 0;
    border: none;
}


.icone-localisation{
    box-sizing: border-box;
    background-color: #F2F2F2;
    border: none;
    border-radius:  20px 0 0 20px ;
    width: 12%;
}   
.bar-de-recherche{
    border: none;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    width: 79%;
}
.recherche{
    width: 40%;
}

.section-filtres .button{
   box-sizing: border-box;
   border-style: solid;
   border-width: 2px;
   border-radius: 25px;
   border-color: #d9d9d9;
   padding: 4px 19px 4px 19px;
   text-align: center;
}


/*section filtres*/

.section-filtres .button:hover {
    background-color: #DEEBFF;
}
.section-filtres {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.filtre-directionrow {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    
    
}
/* section info */
i{
    
}

.info i{
  /*  position: ;
    top: px;
    left: px;*/
    width: 24px;
    height: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 20px; 
    
}


/* footer*/
.footer-directionrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    gap: 15PX;
    
}

footer {
   background-color: #F2F2F2;
   margin-top: 30px;
    
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
        align-items: center;
    }
    
    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    .cards-directionrow{
        gap: 65px;
    }
    }
/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .logo-header img{
        padding: 30px;
    }
    
    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .lien-nav{
        gap: 400px;
    }
    nav a:hover{
        text-decoration: underline;
    }  
    
    .filtre-directionrow{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        }
    .section-filtres{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items:flex-start ;
    }
    
    .activite-directionrow {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items:center ;
        gap: 30px;
    }
    
    .cards-directionrow{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items:center ;   
    }
    .cards-directionrow.card{
        width: 100%;
    }
    .populaires-cards{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items:flex-start ;
    }
    .populaires-cards a{
        width: 100%;
    }
    form {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        WIDTH: 100%;
        HEIGHT: 30px;
    }
    .recherche{
        display: none;
    }
    .bar-de-recherche{
        border-radius: 0 5px 5px 0;
    }
    .loupe-recherche{
        visibility: visible;
        background-color: #0065FC;
        border: 1px solid #0065FC;
        border-radius: 5px 10px 10px 5px;
        box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
        width: 10%;
    }
    .populaires{
        order: -1;
    }
    
    .footer-directionrow{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    }
    /* ... */
